/*Variable Colors*/ 
$bg-primary: #1e2240; 
$element-primary: #141a31;
$shadow-primary: #272b55;

$highlight-yellow: #E4FF1A;
$highlight-blue: #55D6C2;
$highlight-pink: #EC0B43;


/*Variable Fonts*/ 
$catamaran: 'Catamaran', 'Arial' sans-serif;


/*Mixins*/
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}