/*CSS Reset code*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, em, img, i, center, ol, ul, li, fieldset, form, label, figure, figcaption, footer, header, nav, section, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  overflow-x: hidden;
}

body {
  line-height: 1;
  word-wrap: break-word;
  font-size: 100%;
  overflow: hidden;
}

p {
  padding-bottom: 10px;
}

figcaption {
  font-style: italic;
}

button {
  outline: 0;
  color: inherit;
  background-color: inherit;
}

q {
  display: inline;
  font-style: italic;
}

textarea, input[type=text], input[type=button], input[type=submit], input[type=reset], input[type=search], input[type=password] input[type=number], input[type=email] {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  border-radius: 0;
  border: 2px solid transparent;
  outline: none;
  resize: none;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
  text-decoration: none;
}

/*Variable Colors*/
/*Variable Fonts*/
/*Mixins*/
/*Global Styling*/
.sevenTwenty {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

body {
  font-family: "Catamaran", "Arial", sans-serif;
  background-color: #1e2240;
}

/*Font Styling*/
h1 {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}

/*Pomodoro Timer Section*/
.pomodoro-timer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 15px;
}
.pomodoro-timer__section .stage-buttons__holder {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #141a31;
  padding: 5px;
  border-radius: 30px;
}
.pomodoro-timer__section .stage-buttons__holder button {
  font-size: 0.75rem;
  font-weight: 700;
  color: #3b4058;
  padding: 15px;
  border-radius: 30px;
}
.pomodoro-timer__section .stage-buttons__holder button:hover, .pomodoro-timer__section .stage-buttons__holder button.active {
  background-color: #EC0B43;
  color: #141a31;
}
.pomodoro-timer__section .countdown-timer__holder {
  padding: 15px;
}
.pomodoro-timer__section .countdown-timer__holder .timer__container {
  position: relative;
  width: 250px;
  height: 250px;
}
.pomodoro-timer__section .countdown-timer__holder .timer__container g {
  fill: none;
  stroke: none;
}
.pomodoro-timer__section .countdown-timer__holder .timer__container g circle {
  stroke-width: 10px;
  stroke: #141a31;
}
.pomodoro-timer__section .countdown-timer__holder .timer__container g path {
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: #EC0B43;
}
.pomodoro-timer__section .countdown-timer__holder .timer__container .countdown-label__holder {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #FFFFFF;
}
.pomodoro-timer__section .countdown-timer__holder .timer__container .countdown-label__holder span {
  font-size: 3rem;
  font-weight: 900;
}
.pomodoro-timer__section .settings__holder {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
